@using System.Globalization
@model List<HUFLITCOFFEE.Models.Main.Order>;
<link rel="stylesheet" href="~/css/admin.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="Admin_vertical_all">
    <div class="Admin_toolbar">
        <h1 style="text-align: center;">Coffee</h1>
        <ul class="Admin_list_toolbar" style="display: flex; flex-direction: column; gap:40px">
            <li class="Admin_list_toolbar_item">
                <div style="display: flex; align-items: center; gap:2px"><img
                        src="https://cdn-icons-png.flaticon.com/128/2550/2550264.png" loading="lazy" alt="Home "
                        title="Home " width="20" height="20"> <span id="Admin_overview"><a href="/admin">Tổng
                            quan</a></span> </div>
            </li>
            <li class="Admin_list_toolbar_item">
                <div style="display: flex; align-items: center; gap:2px"> <img
                        src="https://cdn-icons-png.flaticon.com/128/888/888034.png" loading="lazy" alt="Document "
                        title="Document " width="20" height="20">
                    <Span id="Admin_order"><a href="/admin/adminorder">Đơn
                            hàng</a></Span> <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png"
                        loading="lazy" alt="Right arrow " title="Right arrow " width="10" height="2">
                </div>
            </li>
            <li class="Admin_list_toolbar_item">
                <div style="display: flex; align-items: center; gap:2px"> <img
                        src="https://cdn-icons-png.flaticon.com/128/3128/3128841.png" loading="lazy" alt="Motorbike "
                        title="Motorbike " width="20" height="20">
                    <span id="Admin_transport"><a href="/admin/admindelivery">Giao
                            hàng</a></span> <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png"
                        loading="lazy" alt="Right arrow " title="Right arrow " width="10" height="2">
                </div>
            </li>
            <li class="Admin_list_toolbar_item">
                <div style="display: flex; align-items: center; gap:2px"><img
                        src="https://cdn-icons-png.flaticon.com/128/679/679720.png" loading="lazy" alt="Box "
                        title="Box " width="20" height="20">
                    <span id="Admin_product"><a href="/admin/adminproduct">Sản
                            phẩm</a></span> <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png"
                        loading="lazy" alt="Right arrow " title="Right arrow " width="10" height="2">
                </div>
            </li>
            <li class="Admin_list_toolbar_item">
                <div style="display: flex; align-items: center; gap:2px"><img
                        src="https://cdn-icons-png.flaticon.com/128/1077/1077063.png" loading="lazy" alt="User "
                        title="User " width="20" height="20">
                    <span id="Admin_customer"><a href="/admin/admincustomer">Khách hàng</a></span> <img
                        src="https://cdn-icons-png.flaticon.com/128/271/271228.png" loading="lazy" alt="Right arrow "
                        title="Right arrow " width="10" height="2">
                </div>
            </li>
            <li class="Admin_list_toolbar_item">
                <div style="display: flex; align-items: center; gap:2px"><img
                        src="https://cdn-icons-png.flaticon.com/128/2329/2329087.png" loading="lazy" alt="Dashboard "
                        title="Dashboard " width="20" height="20">
                    <a href="/admin/thongkebaocao">Báo cáo</a> <img
                        src="https://cdn-icons-png.flaticon.com/128/271/271228.png" loading="lazy" alt="Right arrow "
                        title="Right arrow " width="10" height="2">
                </div>
            </li>
            @* <li class="Admin_list_toolbar_item"><img src="https://cdn-icons-png.flaticon.com/128/702/702455.png"
            loading="lazy" alt="Warehouse " title="Warehouse " width="20" height="20">Kho <img
            src="https://cdn-icons-png.flaticon.com/128/271/271228.png" loading="lazy" alt="Right arrow "
            title="Right arrow " width="10" height="10"></li>
            <li class="Admin_list_toolbar_item"><img src="https://cdn-icons-png.flaticon.com/128/5402/5402931.png"
            loading="lazy" alt="Recipe book " title="Recipe book " width="20" height="20">Công thức <img
            src="https://cdn-icons-png.flaticon.com/128/271/271228.png" loading="lazy" alt="Right arrow "
            title="Right arrow " width="10" height="10"></li> *@
        </ul>
    </div>
    @* Tổng quan *@
    <div class="Admin_view_screen_overview" style="height: 600px;">
        <div class="Admin_view_tilter">
            <div>Tổng Quan</div>
            <div class="Admin_name_user">
                <Span style="text-decoration: underline;">Tên tài khoản
                </Span>
                <a style="color: red;">(Đăng xuất)</a>
            </div>
        </div>
        <div class="Admin_result">
            <div class="Admin_result_title">Kết quả kinh doanh từ @ViewBag.LatestOrderDate đến
                @ViewBag.EarliestOrderDate </div>
            <div>
                <canvas id="myChart" width="400" height="100"></canvas>
            </div>
            @section scripts {
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: @Html.Raw(Json.Serialize(Model.Select(m => m.DateOrder))),
                            datasets: [{
                                label: 'Chiều Cao',
                                data: @Html.Raw(Json.Serialize(Model.Select(m => m.Total))),
                                borderColor: 'rgba(75, 192, 192, 1)',
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Ngày'
                                    }
                                },
                                y: {
                                    title: {
                                        display: true,
                                        text: 'Thành tiền (đơn vị tiền tệ)'
                                    },
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            }
            <div Class="Admin_content_result" style="border-top: 1px #ccc solid;">
                <div Class="Admin_content_result_item">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135706.png" loading="lazy" alt="Salary "
                        title="Salary " width="30" height="30">Tổng doanh thu: @ViewBag.TotalPayment
                </div>
                <span style="border-right:1px solid #ccc;"></span>
                <div Class="Admin_content_result_item">
                    <img src="https://cdn-icons-png.flaticon.com/128/3503/3503607.png" loading="lazy" alt="Calendar "
                        title="Calendar " width="30" height="30">Tổng những ngày bán hàng : @ViewBag.TotalDaysSelling
                </div>
                <span style="border-right:1px solid #ccc;"></span>
                <div Class="Admin_content_result_item">
                    <img src="https://cdn-icons-png.flaticon.com/128/6815/6815043.png" loading="lazy"
                        alt="Shopping bag " title="Shopping bag " width="30" height="30"> Lượt bán: @ViewBag.TotalOrders
                </div>
            </div>
        </div>
    </div>