@model List<HUFLITCOFFEE.Models.Main.CartItem>;
@{
    string curPage = ViewBag.CurPage;
}
<link rel="stylesheet" href="~/css/cart.css">
<div class="cart-main">
    <div class="cart-container">
        <div class="cart-title">
            <h2>Giỏ Hàng</h2>
        </div>
        <div class="cart-product-layout">
            @foreach (var CartItem in Model)
            {
                <div class="cart-pro-box">
                    <div class="cart-pro-box-img">
                        <img class="img-img-cart" src="@CartItem.ImgProduct">
                    </div>
                    <div class="cart-pro-box-detail">
                        <div class="ctcttt">
                            <h4 class="ct-title"></h4>
                            <p class="txt-tt">@CartItem.NameProduct @CartItem.Dvt</p>
                            <div class="cart-pro-box-price"> @CartItem.PriceProduct</div>
                            <div>Số lượng: @CartItem.Quantity</div>
                            <div>Toppings: @CartItem.ToppingNames</div>
                        </div>
                    </div>
                    <div class="text-delete">
                        <button data-cart-id="@CartItem.CartItemId" class="Admin_delete">Xóa</button>
                    </div>
                </div>
}
                <form id="deleteCartForm" method="post" enctype="multipart/form-data" action="/product/deletecart"
                    style="display: none;">
                    <div><input type="text" name="delete_cart_id"></div>
                </form>
               <form id="deleteAllForm" method="post" enctype="multipart/form-data" action="/product/deleteall"
                    style="display: none;">
                </form>
                <div class="total-detail">
                    <div class="delete-all-detail"> 
                  <button id="deleteAllBtn" class="txt-delete">
                         Xoá tất cả
                </button>

                        <div class="pay-detail">
                            @* <p class="txt-pay">Tổng thanh toán <span>(1 sản phẩm)</span>: <span>1234 đ</span> </p> *@
                        </div>
                        <div class="order-detail">
                            <button class="order-btn"><a href="/shipping" style="text-decoration:none; color:#000">Đặt
                                    hàng</a></button>
                        </div>
                    </div>
                </div>
        </div>

        <div class="sgshdasa">
            <h3 class="tltltlt">Có thể bạn cũng thích</h3>
        </div>

        <div class="cart-related-products">
            <div class="cart-related-products-list">
                <div class="cart-related-products-box">
                    <h4 class="jasdasd">Cà phê Highlight</h4>
                    <div class="cart-related-pro">
                        <div class="cart-rlt-detail">
                            <div class="cart-rlt-img">
                                <a href="/detail"> <img class="cart-item"
                                        src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                            </div>
                            <div class="cart-rlt-info">
                                <h3 class="cart-rlt-info-title">Phin sữa tưới bánh Flan</h3>
                                <div class="cart-rlt-info-price">49.000đ</div>
                            </div>
                        </div>
                        <div class="cart-rlt-detail">
                            <div class="cart-rlt-img">
                                <a href="/detail"> <img class="cart-item"
                                        src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                            </div>
                            <div class="cart-rlt-info">
                                <h3 class="cart-rlt-info-title">Phin sữa tưới bánh Flan</h3>
                                <div class="cf-info-price">49.000đ</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-related-products-box">
                    <h4 class="jasdasd">Cà phê máy</h4>
                    <div class="cart-related-pro">
                        <div class="cart-rlt-detail">
                            <div class="cart-rlt-img">
                                <a href="/detail"> <img class="cart-item"
                                        src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                            </div>
                            <div class="cart-rlt-info">
                                <h3 class="cart-rlt-info-title">Phin sữa tưới bánh Flan</h3>
                                <div class="cart-rlt-info-price">49.000đ</div>
                            </div>
                        </div>
                        <div class="cart-rlt-detail">
                            <div class="cart-rlt-img">
                                <a href="/detail"> <img class="cart-item"
                                        src="https://product.hstatic.net/1000075078/product/1696220170_phin-sua-tuoi-banh-flan_0172beb85d08408b8912bf5f1dae7fd9.jpg"></a>
                            </div>
                            <div class="cart-rlt-info">
                                <h3 class="cart-rlt-info-title">Phin sữa tưới bánh Flan</h3>
                                <div class="cf-info-price">49.000đ</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    // Xử lý nút delete
    document.querySelectorAll('.Admin_delete').forEach(function (deleteBtn) {
        deleteBtn.addEventListener('click', function () {
            var cartId = deleteBtn.getAttribute('data-cart-id');

            // Hiển thị hộp thoại xác nhận
            if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng?")) {
                // Đặt giá trị productId vào input ẩn
                document.querySelector('input[name="delete_cart_id"]').value = cartId;
                // Submit form để gửi yêu cầu xóa sản phẩm
                   var formData = new FormData(document.getElementById('deleteCartForm'));

                // Gửi yêu cầu thêm sản phẩm vào giỏ hàng
                fetch('/product/deletecart', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert(data.message);
                            location.reload();
                        } else {
                            console.error('Lỗi dữ liệu:', data.errors);
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi khi gửi yêu cầu:', error);
                        alert('Lỗi khi gửi yêu cầu.');
                    });
            } else {
                // Nếu người dùng không chắc chắn, không làm gì cả
                return false;
            }
        });
    });
  // Xử lý nút delete
    document.querySelectorAll('.txt-delete').forEach(function (deleteBtn) {
        deleteBtn.addEventListener('click', function () {
            // Hiển thị hộp thoại xác nhận
            if (confirm("Bạn có chắc chắn muốn xóa tất cả sản phẩm này khỏi giỏ hàng?")) {
                // Submit form để gửi yêu cầu xóa sản phẩm
                 var formData = new FormData(document.getElementById('deleteAllForm'));

                // Gửi yêu cầu thêm sản phẩm vào giỏ hàng
                fetch('/product/deleteall', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert(data.message);
                            location.reload();
                        } else {
                            console.error('Lỗi dữ liệu:', data.errors);
                            alert(data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Lỗi khi gửi yêu cầu:', error);
                        alert('Lỗi khi gửi yêu cầu.');
                    });
            } else {
                // Nếu người dùng không chắc chắn, không làm gì cả
                return false;
            }
        });
    });
</script>
